header {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 500;
}

.mobile {
  top: 0;
  left: -100%;
  width: 80%;
  background-color: #202833;
  height: 100vh;
  position: fixed;
  z-index: 100;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.mobile .close {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.mobile .close .closeline {
  position: absolute;
}
.mobile .close .line4 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile .close .line5 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mobile .close span {
  display: block;
  width: 80%;
  border-radius: 2px;
  height: 2px;
  background-color: white;
}
.mobile__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  width: 100%;
  margin: 0;
  margin-top: 100px;
}
.mobile__nav-links li {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  list-style-type: none;
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile__nav-links li:hover {
  background-color: #66FCF1;
}
.mobile__nav-links li:hover a {
  color: #202833;
}
.mobile__nav-links li a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

.mobile_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

.overlay {
  display: block;
  width: 100%;
  height: 210vh;
  background: #C5C6C8;
  opacity: 0.69;
  position: absolute;
  z-index: 99;
  top: 0;
  left: -100%;
}

.overlay_active {
  left: 0;
  display: block;
}

.hamburger {
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 19px rgba(102, 252, 241, 0.3);
          box-shadow: 0px 4px 19px rgba(102, 252, 241, 0.3);
  background-color: #66FCF1;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.hamburger::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #66FCF1;
  position: absolute;
  top: 0;
  left: -10px;
  border-radius: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #66FCF1;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-radius: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.hamburger:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  gap: 3px;
}
.hamburger:hover::after, .hamburger:hover::before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.hamburger:hover span {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: #202833;
  width: 40%;
}
.hamburger .line {
  display: block;
  width: 60%;
  background-color: #202833;
  height: 2px;
  border-radius: 2px;
}